<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0"> <display-name>JBTest</display-name>
  
  <servlet>
 
      <servlet-name>MainPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageJSP</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MainSysPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_mainEntrance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainSysPageJSP</servlet-name>
    <url-pattern>/Sys_MainEntrance</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studentForgetPasswordJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/StudentForgetPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentForgetPasswordJSP</servlet-name>
    <url-pattern>/StudentForgetPassword</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>insertStudent</servlet-name>
    <jsp-file>/WEB-INF/jsp/insertStudentToDB.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertStudent</servlet-name>
    <url-pattern>/insertStudentToDB</url-pattern>
  </servlet-mapping>
  
  
    <servlet>  
      <servlet-name>passwordHasChangedJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/PasswordHasChanged.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>passwordHasChangedJSP</servlet-name>
    <url-pattern>/PasswordHasChanged</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>sysForgotPasswordUserJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sysForgotPasswordUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>sysForgotPasswordUserJSP</servlet-name>
    <url-pattern>/sysForgotPasswordUser</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>UserHasChangedJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/UserHasChanged.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHasChangedJSP</servlet-name>
    <url-pattern>/UserHasChanged</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>LinksPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/links.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinksPageJSP</servlet-name>
    <url-pattern>/links</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>contacUsPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/contactUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contacUsPageJSP</servlet-name>
    <url-pattern>/contactUs</url-pattern>
  </servlet-mapping>
  <servlet>
 
      <servlet-name>contacUsThanksPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/contactUsThanks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>contacUsThanksPageJSP</servlet-name>
    <url-pattern>/contactUsThanks</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>aboutUsPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/aboutUs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutUsPageJSP</servlet-name>
    <url-pattern>/aboutUs</url-pattern>
  </servlet-mapping>
  <servlet>
  
  <servlet-name>SysCourseInfoPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/Sys_CourseInfo.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysCourseInfoPageJSP</servlet-name>
    <url-pattern>/Sys_CourseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
 
      <servlet-name>MainSystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainSystemPageJSP</servlet-name>
    <url-pattern>/Sys_Main</url-pattern>
  </servlet-mapping>
  <servlet>

      <servlet-name>StudentPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_studentPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentPageJSP</servlet-name>
    <url-pattern>/Sys_StudentPage</url-pattern>
  </servlet-mapping>
  <servlet>
 
 
  <servlet-name>confirmRecordNewTest</servlet-name>
    <jsp-file>/WEB-INF/jsp/confirmRecordNewTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmRecordNewTest</servlet-name>
    <url-pattern>/confirmRecordNewTest</url-pattern>
  </servlet-mapping>
  <servlet>
 
  <servlet-name>updateRecordStudentDetails</servlet-name>
    <jsp-file>/WEB-INF/jsp/updateRecordStudentDetails.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRecordStudentDetails</servlet-name>
    <url-pattern>/updateRecordStudentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
   

      <servlet-name>removeRecordFromCancelTable</servlet-name>
    <jsp-file>/WEB-INF/jsp/removeRecordFromCancelTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeRecordFromCancelTable</servlet-name>
    <url-pattern>/removeRecordFromCancelTable</url-pattern>
  </servlet-mapping>
  <servlet>
      
      <servlet-name>showCoursesOfCollage</servlet-name>
    <jsp-file>/WEB-INF/jsp/showCoursesOfCollage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>showCoursesOfCollage</servlet-name>
    <url-pattern>/showCoursesOfCollage</url-pattern>
  </servlet-mapping>
  <servlet>
    
    
         <servlet-name>updateRecordTestResult</servlet-name>
    <jsp-file>/WEB-INF/jsp/updateRecordTestResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateRecordTestResult</servlet-name>
    <url-pattern>/updateRecordTestResult</url-pattern>
  </servlet-mapping>
  <servlet>
    
      
      <servlet-name>SearchStudentPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_searchResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentPageJSP</servlet-name>
    <url-pattern>/Sys_Search</url-pattern>
  </servlet-mapping>
  <servlet>

      <servlet-name>UpdateStudentPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_updateResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentPageJSP</servlet-name>
    <url-pattern>/Sys_Update</url-pattern>
  </servlet-mapping>
  <servlet>
 

      <servlet-name>HistorySystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_history.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistorySystemPageJSP</servlet-name>
    <url-pattern>/Sys_History</url-pattern>
  </servlet-mapping>
  <servlet>
 
 
     <servlet-name>HistoryResultSystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_historyResult.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HistoryResultSystemPageJSP</servlet-name>
    <url-pattern>/Sys_HistoryResult</url-pattern>
  </servlet-mapping>
  <servlet>
 
 
 
 
 
      <servlet-name>ScheduleSystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_schedule.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScheduleSystemPageJSP</servlet-name>
    <url-pattern>/Sys_Schedule</url-pattern>
  </servlet-mapping>
  <servlet>
 
      <servlet-name>CourseSystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_courses.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseSystemPageJSP</servlet-name>
    <url-pattern>/Sys_Courses</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>UpdateCoursePageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_updateCourse.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCoursePageJSP</servlet-name>
    <url-pattern>/Sys_CourseUpdate</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>CreateCoursePageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_new_course.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCoursePageJSP</servlet-name>
    <url-pattern>/Sys_New_Course</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>ConstructionSystemPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/sys_construction.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConstructionSystemPageJSP</servlet-name>
    <url-pattern>/Sys_Construction</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>studentCancelTest</servlet-name>
    <jsp-file>/WEB-INF/jsp/studentCancelTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCancelTest</servlet-name>
    <url-pattern>/student_cancel_test</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>studentMain</servlet-name>
    <jsp-file>/WEB-INF/jsp/studentMain.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentMain</servlet-name>
    <url-pattern>/student_main</url-pattern>
  </servlet-mapping>
  <servlet>
  
      <servlet-name>studentRegTest</servlet-name>
    <jsp-file>/WEB-INF/jsp/studentRegTest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentRegTest</servlet-name>
    <url-pattern>/student_reg_test</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>studentSch</servlet-name>
    <jsp-file>/WEB-INF/jsp/studentSch.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentSch</servlet-name>
    <url-pattern>/student_sch</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MainRegPageJSP</servlet-name>
    <jsp-file>/WEB-INF/jsp/reg_main.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainRegPageJSP</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  
  
  <welcome-file-list>
    <welcome-file>Main</welcome-file>
  </welcome-file-list>
</web-app>
