
html
 {
  background: url(https://dl.dropboxusercontent.com/u/229188151/pic/grey-texture.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }


#h2
{
	margin: 10px;
}
 
/** set font for the website */

@font-face
 { 
	font-family: "JBTestWebFont"; 
	src: url('https://dl.dropboxusercontent.com/u/229188151/fonts/DorianCLM-Book.ttf'); 
}

body
{
		font-family: "JBTestWebFont";	
}

/** --------------- */


#page-container
{
	background-color: #f4f4f4;
	
	width: 1200px;
	min-height:100%;
	padding: 20px 50px;
	margin: auto;
	border-radius: 30px;
	position: absolute;
	clear:both;	
			
}



/** set header */

#header
{
	width: 1200px;
	height: 100px;
	border-radius: 10px;
	margin: auto;
	clear:both;
}
#headline
{
	text-align:center;
	color:white;
}
#footer
{
	clear: both;
	height: 100px;
	width: 1200px;
	border-radius: 10px;
	position:static;
	margin: auto;
	
}
#mainContain
{
	float:left;
	padding-bottom: 20px;
}

#jbtest-logo
{
	float: right;
	height:97px;
	width:160px;
}


#johnbryce-logo
{
	float: left;
	height: 50px;
	width: 200px;
	padding: 5px;	
}

/** --------------- */


/** set search div */

#search-sys
{
	background-color: #F00000;
	width: 1200px;
	height: 50px;
	border-radius: 10px;
	float: right;
	padding: 5px;
	margin: 5px 5px;
	text-align: center;
	clear:both;
}

#headline-reg
{
	background-color: #F00000;
	width: 1200px;
	height: 50px;
	border-radius: 10px;
	float: right;
	padding: 5px;
	margin: 20px 5px;
	text-align: center;
}

#searchButton
{
	font-weight: bold;
	font-size: 15px;
	border-radius:10px;
	background: white;
	font-family: "JBTestWebFont";
}

/** --------------- */

/** set nevigation div */

#navigation-bar
{
	float: right;
	background-color: #F0F0F0;
	border: solid 2px #909090;
	width: 200px;
	height: 500px;	
	border-radius: 10px;
	padding: 10px;
	margin: 10px 10px;
	text-align: center;
	
}

#navigation-bar a
{
	font-weight: bold;
	font-size: 15px;
	text-align:	center;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display:block;
	border-radius:10px;
	background: #F00000;
	color:white;
}


#updateButton
{
	font-weight: bold;
	font-size: 15px;
	text-align:	center;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	display:block;
	border-radius:10px;
	background: #F00000;
	font-family: "JBTestWebFont";
}

/** --------------- */

/** set main pages */

#todays-test-sys
{
	width: 900px;
	text-align: center;
	margin: 5px;
}


#new-test-sys
{
	width: 900px;
	text-align: center;
	margin: 5px;
}

#cancle-test-sys
{
	width: 900px;
	text-align: center;
	margin: 5px;
}


#load-student
{
	width: 900px;
	height: 350px;
	text-align: right;
	margin: 5px;
}

#history-sys
{
	width: 900px;
	height: 350px;
	text-align: center;
	margin: 5px;
}


#schedule-sys
{
	width: 900px;
	height: 350px;
	text-align: center;
	margin: 5px;
	clear: left;
}


#new-course-sys
{
	width: 900px;
	height: 350px;
	text-align: center;
	margin: 5px;
	padding: 10px;
}


#construction-sys
{
	width: 900px;
	height: 350px;
	text-align: center;
	margin: 5px;
}

/** --------------- */

/** set tables */

#table
{
	background: white;
	border:1px solid black;
	text-align: center;
}
#todayTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#newTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#cancelTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#studentPastTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#historyTable
{
	background: white;
	border:1px solid black;
	text-align: center;	
	
	
}

#studentUpComingTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#studentConfirmTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#dateTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

#courseTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

.field
{
	display:inline-block;
	padding: 20px 25px;
	float: right;
}


#sys-user
 {
	margin: 2px;
	float: right;
 }
 
#sys-date
 {
	margin: 2px;
	float: left;
 } 
 
#buttondiv
{
	clear: both;
	
}

.buttons
{
	
	padding:10px 10px;
	float:left;
	position: relative;
	left: 500px;
	
	font-style:italic;
	font-weight: bold;
	font-size: 15px;
	border-radius:10px;
	background: #F00000;
	font-family: "JBTestWebFont";
	display: inline;
	
}

#sp
{
	display: block;
}

#historyTable
{
	background: white;
	border:1px solid black;
	text-align: center;
}

/** --------------- */

/** set footer */




#microsoft-prometric-logo
{
	float: right;
}


#copyright
{
	float: left;
}

#copyright-pic
{
	height: 20px;
	width: 20px;
}
/** --------------- */

#regTest
{
	
	text-align: center;
	margin: 40px;
}

/*--------------------*/
#calender-sys
{
	text-align: center;
	margin: 40px;
}
#calender
{
	text-align: center;
	margin: 40px;
}

#calanderTable
{
	margin:auto;
}
#calenderCell
{
	background-color:white;
	border:2px solid black;
	height:130px;
	min-width: 120px;
}
#monthNextButton
{
	float:left;
}
#monthNextButton
{
	float:right;
}
#calenderButton
{
	margin:auto;
}
